{
  "token": "BOT TOKEN",
  "debug_token": "OPTIONAL SECONDARY BOT TOKEN (DEBUG)",
  "client_id": "BOT ID",
  "bots_key": "OPTIONAL API KEY FOR DISCORD BOTS SERVER",
  "discord_bots_org_key" : "OPTIONAL API KEY FOR discordbots.org"
  "mysql_host": "127.0.0.1",
  "mysql_port": 3306,
  "mysql_user": "MYSQL USER",
  "mysql_pass": "MYSQL PASS",
  "mysql_db": "MYSQL DATABASE"
}