aiohttp>=1.2.0,<2.0.0
git+https://github.com/Rapptz/discord.py@master#egg=discord.py
Kyoukai>=2.0.0, <3.0.0
mysql-connector-python-rf>=2.0.0,<2.3.0
prettytable<0.8.0
psutil>=5.0.0,<6.0.0
requests>=2.12.0,<3.0.0
